.maincontents-index
  = render "products/headers"
  = render "categories/bread_crumb_index"

  .body-image
    .category-index.l-single-container
      .visible-sp
        %section.search-category
          .gray.clearfix
            %h2 カテゴリー一覧
            .category-list-nav.slide-nav-parent.text-center.clearfix
              - @parents.each do |parent|
                = link_to categories_path(parent) do
                  %white.category-root-category-link-name
                    = parent.name
          - @parents.each do |parent|
            .category-wrapper
              .category-list-individual-box
                .category-list-individual-box-root-category-name
                  = parent.name
                .category-list-individual-box-inner-box
                  = link_to "すべて", categories_path(parent)
                  - parent.children.each do |child|
                    .category-list-individual-box-sub-category-name
                      = child.name
                    .clearfix.category-list-individual-box-sub-sub-category-box
                      .category-wrapper__child--grandchildren-grandchild
                        = link_to "", categories_path(child)
                          - child.children.each do |grandchild|
                          .category-list-individual-box-sub-sub-category-name
                            = link_to "#{grandchild.name}", category_path(grandchild)

= render "products/app_banner"
= render "products/footers"
