.maincontents-index
  = render "products/headers"
  .special-issue-image
    .top__banners
      =image_tag "top-banner1.jpg"
      =image_tag "top-banner2.jpg"
      =image_tag "top-banner3.jpg"
    .select__btn__arrow
      =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/carousel-prev-af7ca886ce42c4c02610cd15421ddcad.png",class:'slider-control__left'
      =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/carousel-next-bc3a1438a1435e953bc67d720cd05c61.png",class:'slider-control__right'
    .top__indicators
      %span.top-banner__btn
      %span.top-banner__btn
      %span.top-banner__btn
  .categorycontents
    .categorycontents-center
      .popularity-category
        %h2.category-text 全ての商品一覧
      .category-productlist
        .category-productlists
          .category-productlists__scroll
            %h3 商品一覧
            %a.seemore もっと見る
          .category-products-area
            .category-products-area__each
              = render partial: "/products/new_item", collection: @products, as: :product
  .exhibit-button
    %a.exhibit{:href => "/products/new"}
      .exhibit-contents
        .exhibit-contents__text 出品
        %svg.cameraicon{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 18 16", :width => "18"}
          %path{:d => "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", :fill => "currentColor", "fill-rule" => "nonzero"}
          %a.exhibit__link
         
            
  = render "products/app_banner"
  = render "products/footers"
  = javascript_include_tag 'toppage_banner.js'